body {
  margin: 0;
}

.App {
  background-color: rgb(66, 66, 66);
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

header {
  background-color: rgb(114, 175, 225);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-block: 0.5em;
  justify-content: center;
  gap: 6rem;
}

section {
  margin-top: 2rem;
}

.weather-forcast {
  background-color: aliceblue;
  border-radius: 1rem;
  min-height: 20rem;
  width: min(100% - 3rem, 40rem);
  margin-inline: auto;
}

.forcast-heading {
  padding: 1rem;
}

.forcast-heading h2 {
  margin-top: 0;
}

.day {
  color: rgb(62, 62, 62);
  border-top: solid black 1px;
  padding-inline: 1rem;
  padding-block: 0.5em;
}

.day p {
  display: inline;
}

.day-header {
  justify-content: space-between;
}

.hourly {
}
